@model SecurityUserModel
@{
  Layout = "";    
}
<!DOCTYPE HTML>
<html>
      <head>
        <title>Dentis</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="~/assets/css/main.css" />
        <noscript><link rel="stylesheet" href= "~/assets/css/noscript.css" /></noscript>
      </head>
	<body class="is-preload">
    @using(Html.BeginForm("AccesLogin", "Login", FormMethod.Post))
	{
		<!-- Wrapper -->
		<div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="inner">
              <!-- Logo -->
                <a href="index.html" class="logo">
                  <span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Dentis</span>
                </a>
              @if (ViewBag.InvalidUser == "true")
              {
                <h1 style="color: #be3113 ">Usuario o clave inválida</h1>
              }
                 <h2 style="color:#4cbece">Sistema de atención odontólogica</h2>
            </div>
          </header>

			<div id="main">
				<div class="inner">
					<!-- Form -->
						<section>
							<div class="box alt">
								<div class="row gtr-uniform">
									<div class="col-12"><span class="image fit"><img src="images/limpiezadental.png" alt="" /></span></div>
								</div>
							</div>
						</section>
						<section>
                            <h2>Indique el usuario y la clave</h2>
								<div class="row gtr-uniform">
									<div class="col-12">
                                      @Html.TextBoxFor(x => x.UserLogin, new { placeholder = "Nombre de usuario"})
                                       <span asp-validation-for="UserLogin" class="text-danger"></span>
									</div>
									<div class="col-12">
                                      @Html.PasswordFor(x => x.UserPassword, new { placeholder = "Clave"})
                                      <span asp-validation-for="UserPassword" class="text-danger"></span>
									</div>
									<div class="col-12">
										<ul class="actions">
                                            <li><input type="submit" value="Entrar" class="primary" /></li>
										</ul>
									</div>
								</div>
						</section>
						<br/>
						<section>
							<h2>Siganos</h2>
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Teléfono</span></a></li>
								<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
				</div>
			</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
                      <ul class="copyright">
                        <li>&copy; Dentis. All rights reserved</li>
                      </ul>
					</div>
				</footer>
		</div>	
	}
    <!-- Scripts -->
      <script src="~/assets/js/jquery.min.js"></script>
      <script src="~/assets/js/browser.min.js"></script>
      <script src="~/assets/js/breakpoints.min.js"></script>
      <script src="~/assets/js/util.js"></script>
      <script src="~/assets/js/main.js"></script>
      @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	</body>
</html>