@model ClinicConsultingViewModel
@{
	Layout = "";    
}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Dentis - Selección de Consultorio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" />
		<noscript><link rel="stylesheet" href= "~/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
	@using(Html.BeginForm("Index", "ConsultingSelection", FormMethod.Post))
	{
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">Dentis</span>
								</a>
						</div>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Seleccione Clínica y Consultorio</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<strong>Clínica:</strong>
											@Html.DropDownListFor(t => t.ClinicId, (SelectList)@ViewBag.Clinic)
										</div>
										<div class="field half">
											<strong>Consultorio:</strong>
											@Html.TextBoxFor(m => m.ClinicConsultingName, new { style = "display: none;" })
											@Html.DropDownListFor(t => t.ClinicConsultingId , (SelectList)ViewBag.ClinicConsulting, "-- Seleccione el consultorio --")
											<span asp-validation-for="ClinicConsultingId" class="text-danger"></span>
										</div>
									</div>
									<br>
									<ul class="actions">
										<li><input type="submit" value="Entrar" class="primary" /></li>
									</ul>
								</form>
							</section>
						</div>
					</footer>
			</div>	
	}

		<!-- Scripts -->
			<script src="~/assets/js/jquery.min.js"></script>
			<script src="~/assets/js/browser.min.js"></script>
			<script src="~/assets/js/breakpoints.min.js"></script>
			<script src="~/assets/js/util.js"></script>
			<script src="~/assets/js/main.js"></script>
			@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

			<script src="~/assets/js/jquery.min.js" type="text/javascript"></script>  
			<script type="text/javascript">  
				$(document).ready(function () {  
					$("#ClinicId").change(function () {  
						$("#ClinicConsultingId").empty();  
						$.ajax({  
							type: 'POST',  
							url: '@Url.Action("GetClinicCOnsultings")',
       
							dataType: 'json',  
       
							data: { clinicId: $("#ClinicId").val() },   
       
							success: function (clinicConsultings) {  
       
								$.each(clinicConsultings, function (i, clinicConsulting) {  
								$("#ClinicConsultingId").append('<option value="' + clinicConsulting.value + '">' +    
									 clinicConsulting.text + '</option>');                                                                                                  
      
								});  
							},  
							error: function (ex) {  
								alert('No se pudieron obtener los consultorios.' + ex);  
							}  
						});  
						return false;  
					})  
				});  
			</script>  
	</body>
</html>
}